@model IEnumerable<P2_SubChain.Models.Invoice>
@{
    ViewBag.Title = "Home";
}

<header>
    <img src="~/images/logo.svg" alt="" />
    <div class="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav class="cust__nav">
        <ul>
            <li><a href="~/Distributor/Index">Home</a></li>
            <li><a href="~/Distributor/Invoice">Invoices</a></li>
            <li><a href="~/Communication/Index">Communication</a></li>
            <li><a href="~/Home/SignOut">Sign Out</a></li>
            <li><a href="~/Distributor/CreateInv">Create</a></li>
        </ul>
    </nav>
</header>
<main class="invoice">
    @{
        if (Model.Count() == 0)
        {
        <article>
            <h2>No Invoices in this chain</h2>
            <a href="~/Distributor/CreateInv" >Create</a>
        </article>
        }
        else
        {
            <article>
                <h2>Invoices</h2>
                <a href="~/Distributor/CreateInv" >Create</a>
            </article>
            <table>
                <tr>
                    <th>Invoice Id</th>
                    <th>Sender Id</th>
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Edit Date</th>
                    <th></th>
                </tr>
                @{
                    foreach (Invoice i in Model)
                    {
                        <tr>
                            <td>@i.InvoiceId</td>
                            <td>@i.SenderId</td>
                            <td>@i.Filename</td>
                            <td>@i.UploadDate</td>
                            <td>@i.EditDate</td>
                            <td>
                                <a>
                                    View
                                    <img src="~/images/arrow-right.svg" />
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    }
</main>

